/* Style sheet created by: Marco Ramos, October 17, 2023 */

/* Style for body specifies a background color */
body {
	background-color: #B8B894;
}

/* Style for the container centers the page and specifies the width */
main {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header specifies top margin and center aligns content */
header {
	margin-top: 0.2em;
	text-align: center;
}

#gradient1 {
	border: solid #000000;
	height: 5em;
	margin-bottom: 2em; 
	background: linear-gradient(to right, rgb(0, 0, 102), rgb(153, 255, 153) 25%);
}
#gradient2 {
	border: solid #000000;
	height: 5em;
	margin-bottom: 2em;
	background: linear-gradient(to left, rgb(0, 0, 102), rgb(153, 255, 153) 10%);
}
#gradient3 {
	border: solid #000000;
	height: 5em;
	margin-bottom: 2em;
	background: radial-gradient(rgb(0, 102, 153), rgb(0, 204, 0), rgb(255, 0, 0));
}

#gradient4 {
	border: solid #000000;
	height: 5em;
	margin-bottom: 2em;
	background: repeating-radial-gradient(rgb(0, 102, 153), rgb(0, 204, 0) 10%, rgb(255, 0, 0) 15%);
	
}

#gradient5 {
	border: solid #000000;
	height: 5em;
	margin-bottom: 2em;
	background: linear-gradient(to top left, rgb(255, 255, 0), rgb(255, 102, 0), rgb(0, 102, 153), rgb(51, 51, 255)); 
}

/* Style for the footer specifies font size, text alignment, and top margin */
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
}