/*marco ramos 09-21-2023*/

header {
    background-color: rgb(104, 104, 240);
}

footer {
    background: rgb(104, 104, 240);
}
p, ul, li {
    font-size: 20px;
}
a:link {
    color: purple;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: red;
  }
  a:active {
    color: orangered;
  }