/*marco ramos, 10-19-2023*/
body {
    background: white;
    color: #333333;
    font-size: 1.25rem;
}

.pricing {
    width: 90%;
    margin: 0 auto;
}

.pricebox {
    background: #FFFFFF;
    border: 1px solid #000000;
    float: left;
    margin: 10px;
    text-align: center;
    width: 31%;
}

.pricebox h3 {
    margin: 10px;
}

.pricebox h4.price {
    background: #8ae6ca ; 
    color: #FFFFFF;
    padding: 15px;
}

.pricebox ul {
    margin: 0;
    padding: 0;
}

.pricebox ul li {
    list-style-type: none;
    border-top: 1px solid #8ce7db;
    margin: 0;
    padding: 8px;
}

.pricebox ul li:nth-child(even) {
    background: rgba(0, 0, 150, 0.1);
}

.pricebox p {
    font-weight: bold;
}

.pricebox a.button {
    display: block;
    width: 40%;
    margin: 10px auto;
    color: #FFFFFF;
    background: #8ce7db ;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
}

div.pricebox:nth-of-type(2) h4.price,
div.pricebox:nth-of-type(2) a.button {
    background: #8ab8b8;
}

div.pricebox:nth-of-type(2) ul li:nth-child(even) {
    background: rgba(0, 150, 0, 0.1);
}
footer{

    clear: left;
}
