/* marco ramos */
/* 03/04/2024 */

@font-face{
    font-family: 'BPreplayBold.otf';
    src: url('../fonts/BPreplayBold.otf')
}
/* ***********MAIN*************** */
h1, h2, .p1 {
    text-align: center;
    font-family: 'BPreplayBold.otf', 'Times New Roman', serif;
}

/* ************SLIDE MENU IMAGES******** */
#slides1, #slides2 img {
    display: none;
}
.slide_show {
    background: rgba(255,255,255,1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    border: 3px solid lightblue;
    border-radius: 10px;
}
#slide1, #slide2 {
    height: 250px;
    width: auto;
    border-radius: 5px;
}

/* ********MENU BLOCKS********* */
#main_menu {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}
#cupcake_menu {
    background-color: lightblue;
    width: 250px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
#doughnut_menu {
    background-color: lightpink;
    width: 250px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
#cheesecake_menu {
    background-color: lightgreen;
    width: 250px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
#brownie_menu {
    background-color: lightcyan;
    width: 250px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
#cookies_menu {
    background-color: lightyellow;
    width: 250px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
#roll_menu {
    background-color: lightsalmon;
    width: 250px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
#main_menu p {
    text-align: center;
    font-size: 30px;
    font-family: 'BPreplayBold.otf', 'Times New Roman', serif;
}
#main_menu ul li {
    font-size: 20px;
    font-family: 'BPreplayBold.otf', 'Times New Roman', serif;
}
/* *******BAKERY_SHOP*********** */

.bakery_shop {
    display: grid;
    grid-template-columns: auto 500px;
    justify-content: space-evenly;
}