/*marco ramos*/
/*************************mobile******************/
body 
{ 
	background-color: #FFFFFF;
    color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}
header 
{ 
	background-color: #000033;
    color: #FFFFFF; 
	background-image: url("../images/sunset.jpg");
	background-position: right;
	background-repeat: no-repeat; 
	line-height: 400%;
	text-indent: 1em;
}
nav ul 
{ 
	background-color: #90C7E3;
    font-weight: bold;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
h1 
{ 
	margin-bottom: 0; 
    font-family: Georgia, 'Times New Roman', serif; 
}	
h2 
{ 
	color: #3399CC; 
    font-family: Georgia, 'Times New Roman', serif; 
	display: none;
}	 
h3 
{ 
	color: #000033;
    font-family: Georgia, 'Times New Roman', serif; 
}
 main ul 
{ 
	list-style-image: url("../images/marker.gif"); 
} 
address
{ 
	font-size: 90%; 
}
footer 
{ 
	font-size: 75%;
    font-weight: bold;
	text-align: center;
	font-family: Georgia, 'Times New Roman', serif;
	background: linear-gradient(rgba(255,255,255,1), rgba(144,199,227,1));
}	   
dt 
{ 
	color: #000033; 
}
.resort 
{ 
	color: #5C7FA3; 
    font-weight: bold;
}

img{
	display: none;/*this makes screen gone when less than 641px*/
}
/*********************Tablet******************/
@media screen and (min-width: 641px){

	img{
		display: block;/*this makes image appear when is bigger than 641px*/
		max-width: 100%;
	}
	h2{
		display: block;
	}
	nav ul li{
		display: inline;
	}
}