/* marco ramos */
#order_form {
    background: #ccc;
    padding: 3em;
    width: fit-content;
    border-radius: 10px;
  }
  .order_container {
    margin-bottom: 1em;
  }
  span{
    color: red;
  }
  label{
    display: inline-block;
    width: 11em;
    text-align: left;
    margin-left: 5px;
  }
  input {
    margin: 5px .5px 5px 5px;
  }
  .messages {
    border: 3px solid red;
    color: red;
    padding: 2em;
    margin-bottom: 2em;
  }
  textarea {
    height: 5em;
    width: 20em;
  }