.blocks {
   display: flex;
   float: left;
    
}
#main_container{
    width:600px;
    margin-top:20px;
    margin-right: 10px;
    margin-left: 10px;
    background-color:#ccc;
    overflow: hidden;
    padding-top: 30px;
    clear: both;
    border-radius: 10px;
    
    }
    .border {
        border:10px solid #666666;
        border-radius: 15px;
        width:100px;
        height:100px;
    }
    section div h2{
        font-size: 50px;
        font-family: verdana;
        text-transform:uppercase;
        text-align: center;
        color:#666666;
    }
    #a{
        float: left;
        margin-left: 250px;
        margin-bottom: 2px;
       
    }
    
    #b{
        clear: left;
        float: left;
        margin-left: 200px;
        margin-bottom: 2px;
    }
    
    #c{
        
        float: left;
        
    
    }
    
    #d{
        clear: left;
        float: left;
        margin-left: 150px;
        margin-bottom: 2px;
    }
    
    #e{
        
        float: left;
    }
    
    #f{
        
        float: left;
    }
    .blue {
        color: dodgerblue;
        border-color: dodgerblue;
    } 
    .red {
        color: red;
        border-color: red;
    }
    .green {
        color: green;
        border-color: green;
    }