/*marco ramos, 10-19-2023*/
.projects h2 {
    text-align: center;
}

.projects  {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background: #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    
   
}


.learn_code {
    
    background: #FFFFFF;
    border: 1px solid #000000;
    float: left;
    margin: 10px;
    text-align: center;
    width: 31%;
    border-radius: 10px;
}

.learn_code h3 {
    margin: 10px;
}

.learn_code h4.price {
    background: #8ae6ca ; 
    color: #FFFFFF;
    padding: 15px;
}

.learn_code ul {
    margin: 0;
    padding: 0;
}

.learn_code ul li {
    list-style-type: none;
    border-top: 1px solid #8ce7db;
    margin: 0;
    padding: 8px;
}

.learn_code ul li:nth-child(even) {
    background: rgba(0, 0, 150, 0.1);
}



.learn_code a.button {
    display: block;
    width: 40%;
    margin: 10px auto;
    color: #FFFFFF;
    background: #8ce7db ;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
}

div.learn_code:nth-of-type(2) h4.price,
div.learn_code:nth-of-type(2) a.button {
    background: #8ab8b8;
}

div.learn_code:nth-of-type(2) ul li:nth-child(even) {
    background: rgba(0, 150, 0, 0.1);
}

