/*marco ramos, 11/22/23*/
@font-face{
    font-family: 'BPreplayBold.otf';
    src: url('../fonts/BPreplayBold.otf')
}
body{
    background: rgb(2, 9, 23);
    color: white;
    background-repeat: no-repeat;
    background-position: top;
    
}
.outerwrapper {
   
	border-radius: 10px;
	width: 90%%;
	margin: 10px;
}
header{
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: 'BPreplayBold.otf', 'Times New Roman', serif;
    background: linear-gradient(rgba(144,199,227,1), rgba(255,255,255,1));
    border-radius: 10px;
   
}
ul{
    list-style: none;
    font-size: 1em;
   text-align: center;
   
    
}
nav li{
    
    margin: 10px;
    font-size: 20px;
    font-family: 'BPreplayBold.otf', 'Times New Roman', serif; 
    display: inline-block;
    
}
nav a{
    text-decoration: none;
}

nav ul li a:link{/* unvisited link */
    color: rgb(96, 96, 245);
  }
 nav ul li a:visited{ /* visited link */
    color: rgb(87, 240, 87);
  }
  nav ul li a:hover{/* mouse over link */
    color: #585555;
  }
  nav ul li a:active{ /* selected link */
    color: red;
  }
  h2 {
    text-align: left;
    font-size: 1em;
    margin: 10px;
    padding: 10px;

  }
  .experience {
    display: flex;
    margin: 10px;
    padding: 10px;
    background: rgba(243,205,170, 0.4);
    border-radius: 10px;
  }
  .skills {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: rgba(243,205,170, 0.4);
    border-radius: 10px;
  }
  .experience ul {
    display: block;
    text-align: left;
    
  }
  .skills ul {
    display: block;
    text-align: left;
  }
  .add_area {
    padding-top: 2em;
   
  }
  .add_area .wrap {
    width: 100%;
   
  }

 

main .project-list .post {
    margin: 0 2% 2% 2%;
    float: left;
    display: block;
    width: 45%;
   float: left;
    flex-direction: column;
    background: rgba(243,205,170, 0.4);
    border-radius: 10px;
    flex-wrap: nowrap;
}

@media screen and (max-width: 320px) {
    .project-list .post {
     clear: both;
    }
  }
footer {
    clear: both;
    text-align: center;
}
.thumb h3 {
    text-align: center;
}
.explanation p {
    text-align: center;
}
.thumb img {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.post-table {
    clear: both;
    background: rgba(243,205,170, 0.4);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .thumb picture img{
    display: flex;
    overflow: hidden;
  }