/*marco ramos, 11/30/2023*/
@font-face{
  font-family: 'AlexBrush-Regular.ttf';
  src: url('../fonts/AlexBrush-Regular.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'BPreplayBold.otf';
  src: url('../fonts/BPreplayBold.otf')
}
html{ 
  background-image: url("../images/harryarts_webp.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
header{
  text-align: center;
  color: black;
  font-size: 25px;
  font-family: 'BPreplayBold.otf', 'Times New Roman', serif;
  background: linear-gradient(rgba(144,199,227,1), rgba(255,255,255,1));
  border-radius: 10px;  
}
h2 {
  font-family: 'AlexBrush-Regular.ttf', 'Times New Roman', serif;
  text-align: center;
  font-size: 90px;
  color: beige;
  clear: both;
}
ul{
  list-style: none;
  font-size: 1em;
  text-align: center;
  text-decoration: none;   
}
nav li{  
  margin: 10px;
  font-size: 20px;
  font-family: 'BPreplayBold.otf', 'Times New Roman', serif; 
  display: inline-block;  
}
nav a{
 text-decoration: none;
}
nav ul a:link{/* unvisited link */
  color: rgb(96, 96, 245);
  }
 nav ul a:visited{ /* visited link */
  color: rgb(233, 102, 124);
  }
  nav ul a:hover{/* mouse over link */
  color: #585555;
  }
  nav ul a:active{ /* selected link */
  color: red;
  }

  footer{
  font-size: 15px;
  font-weight: bold;
	text-align: center;
	font-family: Georgia, 'Times New Roman', serif;
	background: linear-gradient(rgba(255,255,255,1), rgba(144,199,227,1));
  background-size: auto;
  padding: 20px;
  border-radius: 10px;
} 
