/*marco ramos*/
div .red_circle_blue {
    width: 200px;
    height: 200px;
    background: red;
    animation: switch 4s infinite;
    display: block;
    margin: auto;   
}
@keyframes switch {
    0% {
        background: red;
        border-radius: 0%;

    }
    50% {
        background: blue;
        border-radius: 50%;
    }
    100% {
        background: red;
        border-radius: 0%;
    }
}