/*marco ramos 10-03-2023*/
#outerwrapper {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
} 
body {
	background-color: #b8d1eb;
	color: #000000;
	font-family: "Times New Roman", Times, serif;
	}
main{
	background-color: #c5a98b;
	padding: 10px;
	clear: both;
	
}
.floatleft { 
	float: left;
	margin-right: 3%;
}
.floatright {
float: right;
margin-left: 3%;
}
nav ul {
	list-style-type: none;
	}

h1 {
	font-family: georgia, serif;
	font-size: 3em;
}

h2 {
	font-family: Tahoma, sans-serif;
	font-size: 2em;
	font-weight: normal;
	font-style: italic;
}
main ul {
	list-style-image: url("../images/tomato.png");
	clear: left;
}
footer{
	font-size: .75em;
text-align: center;
clear: both;
padding-top: 10px;
padding-bottom: 10px;
background-color: rgb(185, 106, 106);
}